.blink_me {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

.card-gradient {
  /* background: rgb(75, 85, 96); */
  background: rgb(31, 41, 55);
  background: linear-gradient(
    0deg,
    rgba(75, 85, 96, 1) 0%,
    rgba(31, 41, 55, 1) 40%,
    rgba(31, 41, 55, 0.94) 48%,
    rgba(0, 212, 255, 0) 50%
  );
}

.btn .icon {
  display: none;
}

.btn:hover .icon {
  display: block;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Nav Links */

.home-active {
  background-color: #d946ef !important;
  color: #1f2937 !important;
}

.about-active {
  background-color: #fde047 !important;
  color: #1f2937 !important;
}

.skills-active {
  background-color: #d9f99d !important;
  color: #1f2937 !important;
}

.education-active {
  background-color: #f9a8d4 !important;
  color: #1f2937 !important;
}

.experience-active {
  background-color: #5eead4 !important;
  color: #1f2937 !important;
}
.projects-active {
  background-color: #c084fc !important;
  color: #1f2937 !important;
}
